<a href="https://colab.research.google.com/github/KATE-ABIGAIL/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Python Classes and Objects

Create a Class

In [1]:
class Myclass:
  pass

In [2]:
class OOP1_2:
  X = 5
  print(X)

5

Create Objects

In [8]:
class OOP1_2:
  def __init__(self,name,age):    #__init__(parameter)
    self.name = name          #attributes
    self.age = age

  def identity(self):
    print(self.name, self.age)

person = OOP1_2("Kate", 19) #create objects


print(person.name)
print(person.age)
print(person.identity)

Kate
19
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f88b8603a90>>

In [9]:
#Modify the Object Name

person.name = "Abigail"
print(person.name)
print(person.age)

Abigail
19

In [11]:
person.age = 20

print(person.name)
print(person.age)

Abigail
20

In [13]:
#Delete the Object

del person.name

In [15]:
print(person.age)
print(person.name)

20

AttributeError: ignored

Application 1 - Write a Python program that computes the area of a square, and name its class as Square, side as attributes

In [22]:
class Square:
  def __init__(self,sides):
    self.sides = sides
  
  def area(self):
    return self.sides*self.sides  #formula to compute the area of the square

  def display(self):
    print("the area of the square is:", self.area())

square = Square(4)


print(square.sides)
square.display()

4
the area of the square is: 16

Application 2 - Write a Python program that displays your full name, age, course, school. Create a class named MyClass, and name, age, school as attributes.

In [26]:
class MyClass:
  def __init__(self, name, age, course, school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school

  def identity(self):
    print(self.name, self.age, self.course, self.school)

person = MyClass("Kate", 19, "BS Computer Engineering", "CVSU-Main Campus")

print(person.name)
print(person.age)
print(person.course)
print(person.school)

Kate
19
BS Computer Engineering
CVSU-Main Campus